ul {
    background-color: #9A9999;
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
  }

li {
    float: right;
  }

.company {
    float: left;
    color: #FFFFFF;
    font-size: 20px;
    font-family: sans-serif;
    display: block;
    padding: 12px 14px;
    text-decoration: none;
    overflow: hidden;
  }

a {
    color: #FFFFFF;
    font-size: 16px;
    font-family: sans-serif;
    display: block;
    padding: 12px 14px;
    text-decoration: none;
  }
  
h1.header {
    color: #F8F808;
    background-color: black;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    padding: 125px;
    margin-top: 0px;
}

.three-up{
  display: inline-block;
  background-color: #5EF4B7;
  width: 250px;
  height: 250px;
  margin: 75px;
  border-radius: 15px;  
}

.two-up-color{
  display: inline-block;
  background-color: #F9BB56;
  width: 500px;
  height: 250px;
  margin: 50px;
}

.two-up{
  display: inline-block;
  width: 500px;
  height: 150px;
  margin: 50px;
  padding: 15px;
  vertical-align: center;
}

img {
  width: 200px;
  height: 150px;
}
.footer {
  background-color: #3A2950;
  height: 50px;
}